## First upgrade pip to fix skbuild issue
# python3 -m pip install --upgrade pip

shapely
scikit-image
imgaug==0.4.0
pyclipper
lmdb
tqdm
numpy
visualdl
python-Levenshtein
opencv-contrib-python==4.4.0.46
cython
lxml
premailer
openpyxl

# -----
imgaug
pyclipper
Levenshtein
tqdm




